<ul>
    {% if user.is_authenticated %}
    <li>
        <a href="{% url 'logout' %}">logout</a>
    </li>
    {% else %}
    <li>
        <a href="{% url 'login' %}">login</a>
    </li>
    {% endif %}
    <li>
        <span>Characters</span>
        <ul>
            <li>
                <a href="/charsheet/my-characters">My Characters</a>
            </li>
            <li>
                <a href="/charsheet/new-character">New Character</a>
            </li>
        </ul>
    </li>
    <li>
        <span>Campaigns</span>
        <ul>
            <li>
                <a href="#">My Campaigns (coming soon)</a>
            </li>
            <li>
                <a href="#">New Campaign (coming soon)</a>
            </li>
        </ul>
    </li> 
    {% if user.is_staff %}
    <li>
        <a href="/admin/">Admin</a>
    </li>
    {% endif %}
</ul>
